



/**
*
* PRESS.SCSS
*   Styles for press page
*
*/






/*----------  VARIABLES  ----------*/



// Dimensions

$press-article-height: 20em;



/*----------  STYLES  ----------*/



// Main

.page-press{


  // Main

  .main > .container{
    padding-left: 0;
    padding-right: 0;
    margin-top: 0px;
    border-top:0px;
  }

}



// Base

.page-press .press-article{

  display: flex;
  height: $press-article-height;
  background-color: lighten($grey-light, 5%);
  margin-bottom: 2em;
  transition: background-color 0.2s ease;

  &:hover{ background-color: lighten($grey-light, 2%); }


  // Photo

  .press-article-photo{

    display: block;
    width: 45%;
    height: $press-article-height;
    background-size: cover;
    background-position: center;

  }


  // Content

  .press-article-content{

    flex: 1;
    position: relative;
    padding: 3em 3em 5em 3em;

    .press-article-infos{

      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 3em;
      bottom: 2em;
      width: calc(100% - 6em);

    }

  }


  // Elements

  .press-article-title{

    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1.5em;

  }

  .press-article-desc{

    line-height: 1.5;

  }

  .press-article-date{ color: $grey-dark; }

  .press-article-link{

    text-transform: uppercase;
    line-height: 1;

    &:after{

      display: inline-block;
      vertical-align: top;
      font-family: Nouvelle-collection-typo;
      content: "\e610";
      color: $black;
      font-size: 1em;
      font-weight: 900;
      margin-left: 0.2em;

    }

  }

}

